:root {
    font-family: "Karla", sans-serif;

}

.nav {
    display: flex;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    padding: 20px;
}

.nav-logo {
    width: 200px;
}

.nav-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;

    color: white;
}

.nav-title {
    margin: 0px;
    font-size: 30px;
}

.nav-project {
    margin: 0px;
}

.form {
    margin: 50px;
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 20px;
}

.form-input {
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form-button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}

.main-meme {
    display: flex;
    justify-content: center;
}

.main-image {
    max-width: 100%;
}